# Ignore compiled and cached Python files
__pycache__/
*.pyc

# Ignore build files
*.deb
*.exe
*.rpm

# Ignore virtual environment
my_env/
venv/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore build artifacts
build/
dist/
squashfs-root/
timezone_app.AppDir/
gettime-api-deb/
gettime-api-deb.deb

# Ignore AppImages & packaged binaries
*.AppImage
*.tar.gz
*.zip

# Ignore Docker-related files (if applicable)
docker-compose.override.yml
