# Ignore compiled and cached Python files, because they are not needed in the repository 
__pycache__/
*.pyc

# Ignore build files
*.deb
*.exe
*.rpm

# Ignore virtual environment
my_env/

# Ignore logs and temporary files
*.log

