
Package: gettime-api
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-tk, python3-venv
Maintainer: Ian: beggsbanner@gmail.com
Description: A Flask API with a Tkinter GUI for retrieving time across US time zones.
Ian: Beggs beggsbanner@gmail.com

